# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\learning_code_c\algorithm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
